<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baodian02.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{126,114}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{126,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>baodian02_lei.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,166},{22,34}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,20},{22,34}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>dj_hongjiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,124},{65,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,96}}</string>
                <key>sourceSize</key>
                <string>{65,96}</string>
            </dict>
            <key>dj_jidan.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,357},{47,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{47,57}}</string>
                <key>sourceSize</key>
                <string>{49,59}</string>
            </dict>
            <key>dj_meigui_hua.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{32,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{32,28}}</string>
                <key>sourceSize</key>
                <string>{34,30}</string>
            </dict>
            <key>dj_meigui_hua2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,357},{52,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{52,50}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>dj_pijiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,312},{52,65}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{52,65}}</string>
                <key>sourceSize</key>
                <string>{54,69}</string>
            </dict>
            <key>dj_quanji.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,406},{55,53}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{55,53}}</string>
                <key>sourceSize</key>
                <string>{67,63}</string>
            </dict>
            <key>dj_quanji2.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,406},{72,74}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,21},{72,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dj_quanji3.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,118},{116,120}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{116,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dj_shiren.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,357},{64,61}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{64,61}}</string>
                <key>sourceSize</key>
                <string>{66,63}</string>
            </dict>
            <key>dj_shiren3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{79,83}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{79,83}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>dj_tuoxie.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,409},{45,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,61}}</string>
                <key>sourceSize</key>
                <string>{45,61}</string>
            </dict>
            <key>dj_tuoxie1.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,366},{46,62}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{46,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>dj_zuiba1.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,236},{61,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{61,56}}</string>
                <key>sourceSize</key>
                <string>{61,58}</string>
            </dict>
            <key>dj_zuiba2.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,414},{61,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,58}}</string>
                <key>sourceSize</key>
                <string>{61,58}</string>
            </dict>
            <key>dj_zuiba3.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,192},{86,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{86,84}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>ef_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,68},{120,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ef_guangmang0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,191},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>ef_guozhi_red02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,126}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{128,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ef_guozhi_red03.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,100},{96,90}}</string>
                <key>offset</key>
                <string>{-5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,66},{96,90}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ef_lizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{106,106}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,76},{106,106}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ef_xing.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>hua_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,36},{28,22}}</string>
                <key>offset</key>
                <string>{-4,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,13},{28,22}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hua_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,236},{84,74}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,20},{84,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hua_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,278},{82,70}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,23},{82,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hua_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,279},{80,74}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,18},{80,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hua_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,278},{80,74}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,18},{80,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hua_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,118},{46,24}}</string>
                <key>offset</key>
                <string>{-15,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,14},{46,24}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hua_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,202},{56,40}}</string>
                <key>offset</key>
                <string>{-21,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,14},{56,40}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hua_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,299},{56,56}}</string>
                <key>offset</key>
                <string>{-22,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{56,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hua_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,409},{54,70}}</string>
                <key>offset</key>
                <string>{-22,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,18},{54,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hua_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,350},{54,78}}</string>
                <key>offset</key>
                <string>{-21,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,19},{54,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hua_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,355},{52,78}}</string>
                <key>offset</key>
                <string>{-21,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,18},{52,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hua_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,354},{72,76}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,20},{72,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hua_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,428},{70,74}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,21},{70,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>jidan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,191},{64,38}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{64,38}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tuoxie_yanjing.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,60},{56,26}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,58},{56,26}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ef_biaoqing.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd67b17a956f759986a0c9a22aa74ab1$</string>
            <key>textureFileName</key>
            <string>ef_biaoqing.png</string>
        </dict>
    </dict>
</plist>
