<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DF_SL01.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,142},{260,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,244},{260,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>DF_SL02.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,110},{264,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,238},{264,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>DF_SL03.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,72},{264,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,238},{264,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>DF_SL04.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,116},{260,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,244},{260,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>DF_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{384,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,222},{384,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>DF_pdhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{384,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,222},{384,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>DF_zi_shengli.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,148},{166,90}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,213},{166,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>DF_zi_shengli2.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,2},{242,112}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,65},{242,112}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>Effect_hu_guangyun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{112,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dayingjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,72},{38,90}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,99},{38,90}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,256},{88,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,29},{88,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dl.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,168},{160,170}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,43},{160,170}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dyj.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,212},{94,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,52},{94,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ef_guang_ting.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,330},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ef_guangii.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,422},{124,126}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{124,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ef_xiangkuang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,308},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ef_xiangkuang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,370},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ef_xiangkuang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,308},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ef_xiangkuang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,314},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ef_xiangkuang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ef_xiangkuang_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,240},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ef_xiangkuang_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,184},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ef_xiangkuang_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,142},{174,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,94},{174,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>guang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,72},{174,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,94},{174,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>h.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,148},{74,96}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,15},{74,96}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hz.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,224},{82,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,17},{82,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,164},{38,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{38,32}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>jttouyin.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,72},{28,8}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,42},{28,8}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>l.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,438},{78,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,19},{78,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>p1_dao01.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,308},{70,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,102}}</string>
                <key>sourceSize</key>
                <string>{70,102}</string>
            </dict>
            <key>p1_gai01.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,380},{68,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{68,98}}</string>
                <key>sourceSize</key>
                <string>{70,102}</string>
            </dict>
            <key>s.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,168},{88,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{88,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>shi.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,328},{82,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,18},{82,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>shibai.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,444},{90,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,22},{90,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>shufen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{276,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,200},{276,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>shuye.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,198},{32,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,37},{32,54}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ef_ui_jiemian.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a916c306f78e02d994c3c12cd96e8c2$</string>
            <key>textureFileName</key>
            <string>ef_ui_jiemian.png</string>
        </dict>
    </dict>
</plist>
