<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DF_SL01.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,540},{260,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,244},{260,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>DF_SL02.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,540},{264,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,238},{264,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>DF_SL03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{264,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,238},{264,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>DF_SL04.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,540},{260,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,244},{260,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>DF_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{384,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,222},{384,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>DF_pdhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{384,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,222},{384,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>DF_zi_shengli.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,368},{166,90}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,213},{166,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>DF_zi_shengli2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{242,112}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,65},{242,112}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>dayingjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,286},{38,90}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,99},{38,90}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,460},{88,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,29},{88,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{160,170}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,43},{160,170}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dyj.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{94,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,52},{94,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ef_guang_ting.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,792},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ef_xiangkuang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,662},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ef_xiangkuang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,532},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ef_xiangkuang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,330},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ef_xiangkuang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,156},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ef_xiangkuang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,796},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ef_xiangkuang_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,816},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ef_xiangkuang_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,666},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ef_xiangkuang_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,536},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,540},{174,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,94},{174,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>guang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{174,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,94},{174,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>h.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,926},{74,96}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,15},{74,96}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hz.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,236},{82,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{82,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,286},{38,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,15},{38,32}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>jttouyin.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,310},{28,8}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,42},{28,8}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>l.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,926},{78,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,19},{78,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>p1_dao01.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,460},{70,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,102}}</string>
                <key>sourceSize</key>
                <string>{70,102}</string>
            </dict>
            <key>p1_gai01.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,716},{68,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{68,98}}</string>
                <key>sourceSize</key>
                <string>{70,102}</string>
            </dict>
            <key>s.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,922},{88,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{88,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>shi.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,142},{82,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,18},{82,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>shibai.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,326},{90,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,22},{90,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>shufen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{276,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,200},{276,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>shuye.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,254},{32,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,37},{32,54}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ef_ui_jiemian.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67daa3d4a684e2186a14d5685d91802a$</string>
            <key>textureFileName</key>
            <string>ef_ui_jiemian.png</string>
        </dict>
    </dict>
</plist>
